*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100%;
    background: linear-gradient(to right,hwb(109 21% 22%)50%, #f9f9f9 50%) fixed;
}
.container{
    background: #f9f9f9;
    width: 400px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    height: 75%;
    top: 50%;
    left: 50%;
    box-shadow: 15px 30px 35px #3e3838;
    border-radius: 10px;
    -webkit-perspective: 300px;
    perspective: 300px;
}
.stats{
    text-align: right;
    color: black;
    font-weight: bold;
    line-height: 25px;
}

.coin{
    height: 150px;
    width: 150px;
    position: relative;
    margin: 50px auto ;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.tails{
    transform: rotateX(180deg);
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.coin img{
    width: 145px;
}
.heads, .tails{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

button{
    width: 120px;
    padding: 10px 0;
    border: 2.5px solid hwb(109 21% 22%);
    border-radius: 5px;
    cursor: pointer;
}
#flip-button{
    background: hwb(109 21% 22%)50%;
    color: #f9f9f9;
    border-radius: 5px;

}
#flip-button:disabled{
    background-color: blanchedalmond;
    color: black;
    border-color: #3e3838;
}
#reset-button{
    background: #f9f9f9;
    color: hwb(109 21% 22%)50%;
    border-radius: 5px;
    padding: 5px;
}
@keyframes spin-tails{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}
@keyframes spin-heads{
    0%{
        transform: rotatex(0);
    }
    100%{
        transform: rotatex(2160deg);
    }
}